
.app__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 3%;
  }

  @media screen and (max-width: 750px) {
    flex-direction: column-reverse;
    padding: 1rem 2%;
  }
}

.app__header-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media screen and (max-width: 1200px) {
    align-items: center;
    text-align: center;
  }
}

.app__header-intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  .intro-cmp {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      color: #5b5b5b;
      font-weight: 800;
      font-size: 1.2rem;

      @media screen and (min-width: 1000px) {
        font-size: 2rem;
      }
    }

    h1 {
      font-size: 2.5rem;

      span {
        color: #314bac;
      }

      @media screen and (max-width: 600px) {
        font-size: 1.5rem;
      }
    }
  }

  .tag-cmp {
    margin-top: 2rem;

    .app__head-desc {
      font-size: 1.3rem;
      line-height: 1.5;
      color: #5b5b5b;

      @media screen and (max-width: 600px) {
        font-size: 1rem;
      }

      @media screen and (min-width: 1000px) {
        font-size: 1.6rem;
      }
    }
  }
}

.app__header-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .profile-img {
    width: 350px;
    height: 400px;         // Taller full portrait
    border-radius: 55%;    // Oval circular effect
    object-fit: cover;
    border: 6px solid #314bac;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    z-index: 2;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 1400px) {
      width: 290px;
      height: 450px;
    }

    @media screen and (max-width: 1200px) {
      width: 240px;
      height: 350px;
    }

    @media screen and (max-width: 900px) {
      width: 190px;
      height: 300px;
    }

    @media screen and (max-width: 750px) {
      width: 170px;
      height: 250px;
      margin-top: 20px;
    }

    @media screen and (max-width: 500px) {
      width: 140px;
      height: 200px;
    }
  }

  .overlay-circle {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background: rgba(49, 75, 172, 0.15); // Semi-transparent color to complement image
    border-radius: 50%;
    z-index: 1;
    filter: blur(40px);

    @media screen and (max-width: 1200px) {
      width: 115%;
      height: 115%;
    }

    @media screen and (max-width: 750px) {
      width: 120%;
      height: 120%;
    }
  }
}
